node_modules
dist
.git
.gitignore
.env
.env.example
.vscode
doc
*.log
npm-debug.log
Dockerfile.db
Dockerfile
docker-compose.override.yml
.vscode
.idea
coverage
test
tutor
.dockerignore
.eslintrc.js
.prettierrc
.prettierignore
jest.config.json
nest-cli.json
README.md
Dockerfile
docker-compose*.yml

.DS_Store
docker
generated
